dotenv

# set expected Python virtual environment directory
export VIRTUAL_ENV=.venv
# do not update PIP for maximum reproducibility
export PIP_DISABLE_PIP_VERSION_CHECK=1

# automatically create and enter python venv
layout python3

function use_python_env_check() {
    local nc='\033[0m'
    local red='\033[0;31m'
    local green='\033[0;32m'
    local cyan='\033[0;36m'
    local env_prefix="$cyan[python_env_check]$nc"
    local python_version=$(python3 -c "import platform; print(platform.python_version())")
    which_python=$(which python)

    if [[ $which_python != "$PWD/.venv"* ]]
    then
        echo -e "$env_prefix$red shell is using Python from ($which_python), needs to use project Python version in ($PWD/.venv)$nc"
        exit 1
    fi

    echo -e "$env_prefix$green Python virtual environment sucessfully activated!$nc"
    echo -e "$env_prefix$green Using virtual environment from: $VIRTUAL_ENV$nc"
    echo -e "$env_prefix$green Using Python version: $python_version$nc"
}

use python_env_check