use asdf

dotenv

# automatically create and enter python venv
layout python3

# this fuction allows project dependencies to be managed by pip-tools
#  a 'pyproject.toml' file is required in the root of the project
function use_pip-tools() {
    local python_version
    python_version=$(python3 -c "import platform; print(platform.python_version())")
    # if VIRTUAL_ENV is not set to direnv default, delete direnv default dir as clean-up
    if [[ "${VIRTUAL_ENV}" != *"$(direnv_layout_dir)/python-$python_version"* && -d $(direnv_layout_dir) ]]; then
        echo "[use pip-tools] custom VIRTUAL_ENV set ($VIRTUAL_ENV), deleting ($(direnv_layout_dir))"
        rm -rf $(direnv_layout_dir)
    fi

    local has_pip=0
    if has pip; then
        if [[ $(which pip) = $PWD/* ]]; then
            has_pip=1
        fi
    fi
    if [ $has_pip -eq 0 ]; then
        echo "[use pip-tools] ERROR: No pip installed via layout; add 'layout python3' to .envrc"
        return 1
    fi

    if ! has pip-compile; then
        echo "[use pip-tools] pip-tools missing; installing..."
        pip install pip-tools
    fi

    if [ ! -f "pyproject.toml" ]; then
        echo "[use pip-tools] ERROR: No 'pyproject.toml' file exists, please create one!"
        return 1
    fi

    echo "[use pip-tools] syncing (dev)requirements to Python virtual environment ($VIRTUAL_ENV)..."
    # create requirements files
    pip-compile --quiet --strip-extras -o requirements.txt
    pip-compile --quiet --strip-extras --extra=dev -o requirements-dev.txt
    # install all pinned requirements to virtual environment
    pip-sync requirements.txt requirements-dev.txt
    # install local project from /src as editable, so code changes are reflected without re-install
    echo "[use pip-tools] installing project to Python virtual environment ($VIRTUAL_ENV)..."
    pip install --editable .

    watch_file pyproject.toml
    echo "[use pip-tools] Python virtual environment sucessfully created, updated and activated!"
    echo "[use pip-tools] Running 'python --version' should show 'Python $python_version'"
    echo "[use pip-tools] Running 'which python' should show '$VIRTUAL_ENV/bin/python'"
}

use pip-tools
